<ocx-portal-page
  *ngrxLet="viewModel$; let vm"
  role="main"
  helpArticleId="PAGE_TOKEN_TABLE_TABLE"
  [attr.aria-label]="'TABLE.HEADER' | translate"
>
  <ocx-page-header header="{{'TABLE.HEADER' | translate}}" subheader="{{'TABLE.DESCRIPTION' | translate}}"> </ocx-page-header>

  <ocx-content>
      <ocx-data-table [columns]="tableColumns" [rows]="tableRows">
          <ng-template #stringCell let-rowObject="rowObject" let-column="column">
            <span id="{{rowObject.id + '-' + column.id}}">{{ rowObject[column.id] }}</span>
          </ng-template>
      </ocx-data-table>
  </ocx-content>
</ocx-portal-page>
